<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Give a review</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeReview()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doGiveReview()">
      <div class="list">
        <label class="item item-input">
            <span class="input-label">Private evaluation</span>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating1" value=1> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating2" value=2> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating3" value=3> 3
            </label>
             <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating4" value=4> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating5" value=5 checked> 5
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating6" value=6> 6
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating7" value=7> 7
            </label>
            <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating8" value=8> 8
            </label>
             <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating9" value=9> 9
            </label>
             <label class="radio-inline">
                <input type="radio" name="privateRating" ng-model="review.privateRating"
                 id="rating10" value=10 checked> 10
            </label>

        </label>
         <label class="item item-input">
            <span class="input-label">Public evaluation</span>            
            <label class="radio-inline">
                <input type="radio" name="publicRating" ng-model="review.publicRating"
                 id="rating1" value=1> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="publicRating" ng-model="review.publicRating"
                 id="rating2" value=2> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="publicRating" ng-model="review.publicRating"
                 id="rating3" value=3> 3
            </label>
             <label class="radio-inline">
                <input type="radio" name="publicRating" ng-model="review.publicRating"
                 id="rating4" value=4> 4
            </label>
            <label class="radio-inline">
                <input type="radio" name="publicRating" ng-model="review.publicRating"
                 id="rating5" value=5 checked> 5
            </label>
        </label>
         <label class="item item-input">
          <span class="input-label">Comment</span>
          <textarea class="form-control input-sm" id="description" placeholder="Comment" ng-model="review.comment" required></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Send</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
