<ion-view view-title="Register">
  <ion-content>
      <div class="row">
        <div class="col">
            <h1 class="text-center">What are you looking for?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <p class="text-center">
                <img src="img/client.png" >
            </p>
            <h3 class="text-center">I need to solve a plumbing problem.</h3>
            <p class="text-center go-button">
                <button class="button button-balanced" ng-click="registerClient()">GO!</button>
            </p>          
        </div>
        <div class="col">
            <p class="text-center">
                <img src="img/contractor.png" >
            </p>
            <h3 class="text-center">I am a plumber.</h3>
            <p class="text-center go-button">
                <button class="button button-balanced" ng-click="registerContractor()">GO!</button>
            </p>  
        </div>
      </div>
  </ion-content>
</ion-view>
