<ion-view view-title="Login">
  <ion-content>
      <div class="row">
        <div class="col">
            <p class="text-center">
                <img src="img/client.png" >
            </p>
            <h3 class="text-center">Client</h3>
            <p class="text-center go-button">
                <button class="button button-balanced" ng-click="loginClient()">Client login</button>
            </p>          
        </div>
        <div class="col">
            <p class="text-center">
                <img src="img/contractor.png" >
            </p>
            <h3 class="text-center">Contractor</h3>
            <p class="text-center go-button">
                <button class="button button-balanced" ng-click="loginContractor()">Contractor login</button>
            </p>  
        </div>
      </div>
  </ion-content>
</ion-view>
